torch
seaborn
adjustText
scipy==1.12
pandas
numpy
gensim
nltk
transformers
accelerate
jinja2
sentence-transformers
scikit-learn
bitsandbytes
matplotlib
kagglehub
wordcloud
pyldavis
plotly
xgboost
requests
streamlit
huggingface_hub
openai
